{% extends 'layout.html' %}

{% block body %}

   <h1>About</h1>
   <p>Projecto Microservices</p>
   <p>Classroom Booking App</p>
   <p>Projeto efetuado na disciplina de Sistemas Distribuídos. Os serviços a funcionar com 2 Raspberry Pi em docker, um manager e um worker, com diversas replicas. Os serviços encontram-se implementados em python, flask e mysql. Utilizado métodos http, REST APIs, MQ, request de dados, redirecionamento, respostas, sessões e autenticações.</p>
   <p>&nbsp;</p>
   <p>Alejandro Carvalho</p>
   <p>Rui Vieira</p>
   <p>Sérgio Luís</p>
   <p>Docente: Karolina Baras</p>
   <p>&nbsp;</p>

{% endblock %}

