<!DOCTYPE html>
<html lang="pt">
   <head>
      <title>Grupo 5</title>
      <meta charset="UTF-8">
      <meta name="description" content="Trabalho da disciplina de sistemas distribuido pelo grupo 5.">
      <meta name="author" content="Grupo 5">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <!-- Custom styles -->
      <link href="layout.css" rel="stylesheet">
   </head>
   <body>

      <div class="container">

        <!-- Header - topo da pagina -->
        <header class="masthead">
           <h3 class="text-muted">SD - Grupo 5</h3>
           <!-- Menu -->
           {% include 'menu.html' %}
        </header>

        <!-- Main - meio da pagina -->
        <main role="main">
           {% include 'includes/messages.html' %}
           {% block body %}{% endblock %}
        </main>

        <!-- Footer - fundo da pagina -->
        <footer class="footer">
           <p>&copy; Sistemas Distríbuidos - Grupo 5 - 2017/2018</p>
        </footer>

      </div> <!-- fim container -->


      <!-- Bootstrap core JavaScript -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
   </body>
</html>
